@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 12px 0;
}

h5 {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 14px;
}

.card {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 4%;
    padding: 16px;
    height: 85vh;
}

.img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 4%;
}

.img__wrapper {
    height: 70%;
    width: 100%;
}

.text {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

@media (max-width: 375px) {
    h3 {
        font-size: 18px;
    }
    
    h5 {
        font-size: 12px;
    }

    .card {
        width: 60%;
    }

    .img__wrapper {
        height: 30%;
    }
    
    .text {
        height: 70%;
    }
}
